@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --border: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
}
.buttonHoverStyle{
  display: none;
}

@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-white text-black;
  }
}